* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    align-items: center;
    background-image: url('images/aa.jpg');
    background-color: #ffc0cb; /* Light pink background */
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    padding: 20px; /* Add padding for better visibility */
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    color: #ff56ab; /* Hot pink color for the heading */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add text shadow */

}

li {
    display: inline-block;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    border-radius: 5px; /* Add rounded corners */
}

li:hover {
    transform: scale(1.1);
    color: #ff69b4; /* Change color on hover */
}

li span {
    display: block;
    font-size: 4.5rem;
    color: #ff69b4; /* Hot pink color for the countdown numbers */
}

.emoji {
    display: none;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    border-radius: 5px; /* Add rounded corners */
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

#wish-text {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    padding: 20px; /* Add padding for better visibility */
    border-radius: 5px; /* Add rounded corners */
}

/* Add styles for the square-images container */
#square-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    padding: 20px; /* Add padding for better visibility */
    border-radius: 5px; /* Add rounded corners */
}

#square-images img {
    width: auto;
    max-height: 100px;
    margin: 10px;
    opacity: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#square-images img:hover {
    transform: scale(2.5);
    opacity: 1;
    border-radius: 10px; /* Add rounded corners on hover */
}
